@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GAP</h1>
    <p class="lead">Policy Managment GAP</p>    
</div>

<div class="row">
    <div class="col-md-4">        
    </div>
    <div class="col-md-4">        
    </div>
    <div class="col-md-4">        
    </div>
</div>